<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<location>/error</location>
	</error-page>

	<filter>
		<filter-name>SetWebContextLocaleFilter</filter-name>
		<filter-class>mosaos.servlet_sample.filter.SetWebContextLocaleFilter</filter-class>
	</filter>
	<!--<filter> -->
	<!-- <filter-name>LoggingFilter</filter-name> -->
	<!-- <filter-class>mosaos.servlet_sample.filter.LoggingFilter</filter-class> -->
	<!--</filter> -->
	<filter>
		<filter-name>LoginCheckFilter</filter-name>
		<filter-class>mosaos.servlet_sample.filter.LoginCheckFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>SetWebContextLocaleFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> 
	<!--<filter-mapping> -->
	<!-- <filter-name>LoggingFilter</filter-name> -->
	<!-- <url-pattern>/*</url-pattern> all url patterns -->
	<!--</filter-mapping> -->
	<filter-mapping>
		<filter-name>LoginCheckFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
		<url-pattern>/notes/create</url-pattern>
		<url-pattern>/notes/edit/*</url-pattern>
	</filter-mapping>

</web-app>